<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SiteSensei</title>
  {% include '_favicons.html' %}
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='assets/owl_logo.png') }}" alt="SiteSensei Owl Logo" class="logo" />
      <h1 class="title">Site Sensei</h1>

      <p class="subtitle">Choose how you'd like to use Site Sensei.</p>

      <div class="button-container">
          <a class="btn student" href="{{ url_for('student_upload') }}">
              Student Self Check<span>check one webpage</span>
          </a>

          <a class="btn teacher" href="{{ url_for('teacher_login') }}">
              Teacher Login<span>batch grading</span>
          </a>
      </div>
  </div>
</body>
</html>
